@import '../../scss/variables.scss';

.button {
  align-items: center;
  background-color: $blue;
  border-radius: 8px;
  color: $white;
  cursor: pointer;
  display: flex;
  display: inline-block;
  justify-content: center;
  padding: 12px 26px;
  pointer-events: visible;
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: .9;
  }

  &--disable {
    background-color: #bebfc1;
    pointer-events: none;

    &:hover {
      opacity: 1;
    }
  }
}

.toggle-button {
  background-color: $white;
  border: 1.4px $blue solid;
  border-radius: 80px;
  color: $blue;
  font-size: 13px;
  padding: 8px 14px;

  .inner {
    align-items: center;
    display: flex;

    img {
      display: none;
      margin-left: 3px;
      margin-right: -3px;
    }
  }

  &--clicked {
    background: rgba($blue, .24);

    .inner img {
      display: block;
    }
  }
}