@import '../../scss/variables.scss';

.fleet-list {
  background: white;
  border: $grey_light 1px solid;
  border-radius: 8px;
  // height: 40vh;
  overflow: hidden;

  &__title {
    align-items: center;
    display: flex;
    // font-family: 'sans-medium';
    font-size: 18px;
    padding: 25px 35px;

    .icon {
      width: 16px;
    }

    .text {
      margin-left: 10px;
    }

    .label {
      background: #E0E5F9;
      border-radius: 40px;
      color: $blue;
      font-size: 12px;
      margin-left: 15px;
      padding: 5px 15px;
    }
  }

  &__subtitle {
    border-bottom: 1px solid $grey_light;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 50px 22px;
  }

  .table-wrapper {
    height: calc(50vh - 172px);
    overflow: hidden;
    overflow-y: scroll;
  }

  &__inner {
    border-collapse: collapse;
    width: 100%;

    .react-loading-skeleton {
      width: 100%;
      margin: 8px 0;
    }
    
    td, th {
      // border: 1px solid $grey_light;
    }

    td {
      padding: 18px 8px;
    }

    th {
      font-family: 'sans-medium';
      padding: 20px 8px;
    }

    tr {
      // opacity: .7;

      td, th {
        &:first-of-type {
          padding-left: 35px;
        }
      }
    }
    
    // tbody:nth-child(even){background-color: #eff1f4;}
    tbody {
      background-color: #eff2fa;

      &:not(:first-of-type) {
        border-top: 1px #d9e2f0 solid;
      }

      &:nth-child(even) {
        background-color: #F7FAFF;
      }
    }
    
    // tr:hover {background-color: rgb(232, 235, 238);}
    
    th {
      padding-top: 12px;
      padding-bottom: 25px;
      text-align: left;
      background-color: $white;
      color: $black;
    }

    thead {
      box-shadow: 0 6px 15px $grey_light;
      position: sticky; top: 0; z-index: 1;
    }

    tbody {
      cursor: pointer;
      // opacity: .7;

      tr {
        td {
          opacity: .7;

          &:not(:last-of-type) {
            border-right: 1px #d9e2f0 solid;
            // color: $blue;
            // font-family: 'sans-medium';
            // text-decoration: underline;
            // opacity: 1;
          }
        }
      }
    }
  }
}