@import '../../scss/variables.scss';

.monitoring-page {
  background: $grey_bg;
  padding: 20px 20px 0;
  width: 100%;

  &__panel {
    display: flex;
    margin-top: 20px;

    .fleet-list {
      flex-basis: 35%;
      margin-right: 20px;
    }
  
    .fleet-metrics {
      flex-basis: 65%;
    }
  }
}