@import '../../scss/variables.scss';

.header {
  align-items: center;
  background: $white;
  display: flex;
  font-family: 'sans-medium';
  font-size: 18px;
  height: 53px;
  padding: 5px 20px;
  border-bottom: $grey_light 1px solid;

  &__logo {
    margin-right: 20px;
    width: 40px;
  }
}