@import '../../scss/variables.scss';

.sidebar {
  background: white;
  border-right: $grey_light 1px solid;
  color: $grey;
  flex: 0 0 168px;
  font-family: 'sans-medium';
  height: calc(100vh - 64px);
  overflow: hidden;
  position: relative;
  transition: all .3s ease-in-out;
  // will-change: flex;

  ul {
    margin-top: 15px;
    position: absolute;
  }

  li {
    margin: 10px 0;

    svg {
      padding: 1px;
      width: 20px;
    }

    a {
      padding: 10px 25px;
      position: relative;

      &:active,
      &:focus,
      &:visited {
        color: $grey;
      }

      &:hover {
        &::before {
          visibility: hidden;
        }

        &::after {
          opacity: .35;
        }
      }

      // &::before {
      //   background: $blue;
      //   content: '';
      //   height: 100%;
      //   left: 0;
      //   position: absolute;
      //   visibility: hidden;
      //   width: 3px;
      //   z-index: 1;
      // }

      &:after {
        background: #E8F0FE;
        border-radius: 0 50px 50px 0;
        content: '';
        left: 0;
        height: 44px;
        opacity: 0;
        position: absolute;
        transition: all .2s ease-in-out;
        width: 100%;
        will-change: width;
        z-index: 0;
      }

      &.is-active {
        color: $blue;

        svg {
          stroke: $blue;

          path,
          rect,
          circle,
          line {
            stroke: $blue;
          }

          circle {
            fill: $blue;
          }
        }

        &::before {
          visibility: visible;
        }

        &::after {
          opacity: 1;
        }
      }
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    text-decoration: none;

    svg, .text {
      z-index: 1;
    }
    
    .text {
      margin-left: 14px;
    }
  }

  // &:hover {
  //   flex: 0 0 182px;

  //   .sidebar__link {
  //     &::after {
  //       border-radius: 6px;
  //       left: 8px;
  //       width: calc(100% - 8px);
  //     }
  //   }
  // }
}