@import '../../scss/variables.scss';

.fleet-metrics {
  background: white;
  border: $grey_light 1px solid;
  border-radius: 8px;
  height: 40vh;

  &__title {
    align-items: center;
    display: flex;
    // font-family: 'sans-medium';
    font-size: 18px;
    padding: 25px 35px;

    .icon {
      width: 16px;
    }

    .text {
      margin-left: 10px;
    }
  }

  &__iframe-wrapper {
    width: 100%;
    overflow: hidden;
    margin-left: -48px;
    transform: translateX(80px);
  }

  &__iframe {
    color: red !important;
    height: 1400px;
    top: 30px;
    width: 100%;
    margin-left: -72px;
    margin-top: -12.5%;
  }
}