@import '../../scss/variables.scss';

.map {
  align-items: center;
  background: $white;
  border: $grey_light 1px solid;
  border-radius: 8px;
  display: flex;
  height: 50vh;
  justify-content: center;

  .lazy-load-image-loaded {
    width: 60%;

    img {
      width: 100%;
    }
  }
}